/*Title Font - Peace Sans*/
@font-face {
	font-family: 'Peace Sans';
	src: url('../fonts/peace_sans/PeaceSansWebfont.ttf');
	font-weight:normal;
	font-style:normal;
}
/*Subfont - Lato*/
@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/Lato-Light.ttf');
	font-weight:300;
	font-style:normal;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/Lato-Regular.ttf');
	font-weight:400;
	font-style:normal;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/Lato-Bold.ttf');
	font-weight:700;
	font-style:normal;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/Lato-Black.ttf');
	font-weight:900;
	font-style:normal;
}
*{
	margin:0;
	padding:0;
}
body{
	position: relative;
	font-family: 'Lato';
}
