/*Title Font - Peace Sans*/
@font-face {
	font-family: 'Peace Sans';
	src: url('../fonts/peace_sans/PeaceSansWebfont.ttf');
	font-weight:normal;
	font-style:normal;
}
/*Subfont - Lato*/
@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/Lato-Light.ttf');
	font-weight:300;
	font-style:normal;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/Lato-Regular.ttf');
	font-weight:400;
	font-style:normal;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/Lato-Bold.ttf');
	font-weight:700;
	font-style:normal;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/Lato-Black.ttf');
	font-weight:900;
	font-style:normal;
}
*{
	margin:0;
	padding:0;
	scroll-behavior: smooth;
}
body{
	position: relative;
	font-family: 'Lato';
	overflow-x: hidden;
	overflow-y: scroll;
}
.frame-container{
	position: relative;
	width:100vw;
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
	/**/
	padding: 100px;
}
#home{
	background-image: url(../images/home_bg.jpg);
}
#rooms{
	background-image: url(../images/);
}
#gallery{
	background-image: url(../images/gallery_bg.jpg);
}
#reviews{
	background-image: url(../images/review_bg.jpg);
}
#booknow{
	background-image: url(../images/book_now.jpg);
}
.title{
	font-size: 5.0187em;
	font-family: 'Peace Sans';
	color : #f1f1f1;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
}
.title:after{
	content: '';
	position: absolute;
	width:90%;
	height:5px;
	background:#f1f1f1;
	border-radius: 10px;
	bottom:15px;
	left:0;
}
footer{
	position: -webkit-sticky;
	position: sticky;
	bottom:0;
	width:100%;
	height: 400px;
	z-index: -1;
	background: #1f1f1f;
}