/*Title Font - Peace Sans*/
@font-face {
	font-family: 'Peace Sans';
	src: url('../fonts/peace_sans/PeaceSansWebfont.ttf');
	font-weight:normal;
	font-style:normal;
}
/*Subfont - Lato*/
@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/Lato-Light.ttf');
	font-weight:300;
	font-style:normal;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/Lato-Regular.ttf');
	font-weight:400;
	font-style:normal;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/Lato-Bold.ttf');
	font-weight:700;
	font-style:normal;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/Lato-Black.ttf');
	font-weight:900;
	font-style:normal;
}
*{
	margin:0;
	padding:0;
	scroll-behavior: smooth;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
::-webkit-scrollbar {
	width: 8px;
} 
::-webkit-scrollbar-track {
	background:#aaa;
} 
::-webkit-scrollbar-thumb {
	background-color: #12204c;
	outline: 1px solid #fafafa;
	border-radius: 10px;
}
::-moz-selection { 
	background: #12204c; 
	color:#fafafa;
}
::selection { 
	background: #12204c; 
	color:#fafafa;
}
button:focus, button:active, button:hover{
	outline: 0px;
	/* border:0px; */
}
body{
	position: relative;
	font-family: 'Lato';
	overflow-x: hidden;
	overflow-y: scroll;
}
.btn {
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	border: 2px solid #e74c3c;
	border-radius: 2em;
	color: #e74c3c;
	cursor: pointer;
	display: flex;
	align-self: center;
	font-size: .7em;
	font-weight: 400;
	line-height: 1;
	padding: .8em 1.5em;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
}
.btn:hover, .btn:focus {
	color: #fff;
	outline: 0;
}
.fourth {
	border-color: #1f1f1f;
	color: #1f1f1f;
	background-image: linear-gradient(45deg, #1f1f1f 50%, transparent 50%);
	background-position: 100%;
	background-size: 400%;
	transition: background 300ms ease-in-out;
}
.fourth:hover {
	background-position: 0;
	color:#f1f1f1;
}
.frame-container{
	position: relative;
	width:100vw;
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px;
}
#home{
	background-image: url(../images/home_bg.jpg);
}
#rooms{
	background-image: url(../images/rooms_bg.jpg);
	padding: 50px 100px;
}
#gallery{
	background-image: url(../images/gallery_bg.jpg);
}
#reviews{
	background-image: url(../images/review_bg.jpg);
}
#booknow{
	background-image: url(../images/book_now.jpg);
}
.title{
	font-size: 5.0187em;
	font-family: 'Peace Sans';
	color : #f1f1f1;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
}
.title:after{
	content: '';
	position: absolute;
	width:90%;
	height:5px;
	background:#f1f1f1;
	border-radius: 10px;
	bottom:15px;
	left:0;
}
footer{
	position: -webkit-sticky;
	position: sticky;
	bottom:0;
	width:100%;
	height: 400px;
	z-index: -1;
	background: #060606;
}
footer:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	background-image: url(../images/footer_bg.jpg);
	background-position: center;
	background-size: cover;
	background-blend-mode: difference;
	background-color: #00;
}
#home-description-container{
	padding:20px;
	position: relative;
	background: #f1f1f1;
	color: #1f1f1f;
	border:3px solid #1f1f1f;
	width:350px;
	height: auto;
}
#home-description-container img{
	width:35%;
	position: relative;
	margin-bottom: 20px;
	display: block;
}
#home-description-container p{
	font-size: 14px;
	font-weight: 700;
	text-align: justify;
	margin-bottom: 5px;
}
#home h3{
	font-family: 'Peace sans';
	font-size: 2.5em;
	color:#f1f1f1;
	text-transform: uppercase;
	width:450px;
	text-align: right;
}
.inner-container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}
#home .inner-container{
	align-items: flex-end;
	justify-content: space-between;
}
.mouse{
	position: absolute;
	width:25px;
	height: auto;
	bottom:50px;
	display: block;
	margin:auto;
	cursor: pointer;
}

/*Rooms Section*/
#rooms .inner-container{
	flex-direction: column;
	align-items: baseline;
}
#rooms::before{
	content:'';
	position: absolute;
	width:100%;
	height: 100%;
	top:0;
	left: 0;
	background-image: url(../images/rooms_bg.jpg);
	-webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
	filter: blur(2px);
}
.controller{
	width: 20px;
	margin-right: 20px;
}
.room-container{
	width: 90%;
	position: relative;
	display: flex;
	padding: 20px;
	background: #f1f1f1;
	flex-direction: column;
}

.room-image-container {
    width: 100%;
    position: relative;
    height: 150px;
    background: red;
    margin-bottom: 10px;
}

h2.room-title {
    font-size: .9em;
    font-weight: 900;
    color: #282828;
}

.room-detail-upper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

span.room-price {
    font-size: 2em;
    font-weight: 300;
    color: #1f1f1f;
}
.room-wrapper{
	position: absolute;
	width:80%;
	height: 75%;
	bottom: 0;
	right:0;
	display: -webkit-flex; /* Safari */
	display: flex;
}
.room-detail-container p {
    font-size: 11px;
    text-align: justify;
    margin-bottom: 20px;
}
.room{
	flex-grow: 1;
	-webkit-flex-grow: 1;
	display: flex;
	display: -webkit-flex; /* Safari */
	align-items: center;
	justify-content: center;
}